.chatbox {
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  padding: 0.5rem;
}
.Chat {
  width: 100%;
  height: 100%;
  /* padding: 0.2rem; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
