@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=JetBrains+Mono:wght@100;400;600&family=Poppins:wght@300&family=Roboto+Mono:wght@100;300;400&family=Roboto:wght@300&family=Rubik:wght@700&family=Ubuntu:wght@300&display=swap");
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}
body {
  /* height: 100vh; */
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  /* width: 100vw; */
}
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2196f3;
}
