@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=JetBrains+Mono:wght@100;400;600&family=Poppins:wght@300&family=Roboto+Mono:wght@100;300;400&family=Roboto:wght@300&family=Rubik:wght@700&family=Ubuntu:wght@300&display=swap");
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(4, 4, 4, 0.224); */
}
body {
  /* height: 100vh; */
  font-family: "Ubuntu", sans-serif;

  /* width: 100vw; */
}
